/.bundle

# /db/*.sqlite3
# /db/*.sqlite3-journal

# logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# uploaded files in development
/storage/*
!/storage/.keep

/node_modules
/yarn-error.log

/public/assets
.byebug_history

# decrypting credentials
/config/master.key
