<div class="column is-half">
  <article class="media box">
    <figure class="media-left">
      <p class="image is-64x64">
        <img src="https://bulma.io/images/placeholders/64x64.png">
      </p>
    </figure>

    <div class="media-content">

    </div>
  </article>
</div>

<%# read from controller/tweets_controller.rb, action def index %>
<% @tweets.each do |grap_tweet| %>
  <div class="box">
    <article class="media">
      <div class="media-left">
        <figure class="image is-64x64">
          <img src="https://bulma.io/images/placeholders/64x64.png">
        </figure>
      </div>

      <div class="media-content">
        <div class="content">
          <strong>TM</strong><br>
          <small>#sevlamare</small><br>
          <p><%= grap_tweet.tweet %></P>
        </div>

        <nav class="level">
          <div class="level-left is-modile">
					  <%= link_to grap_tweet, class: "level-item" do %>
  					  <span class="icon">
                <i class="fa fa-link" aria-hidden="true"></i>
              </span>
  					<% end %>

  					<%= link_to edit_tweet_path(grap_tweet), class: "level-item" do %>
  					  <span class="icon">
                <i class="fa fa-pencil" aria-hidden="true"></i>
              </span>
  					<% end %>

  					<%= link_to grap_tweet, method: :delete, data: { confirm: "You want to erase?" } do %>
              <span class="icon">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
              </span>
  					<% end %>
          </div>
        </nav>
      </div>
    </article>
  </div>
<% end %>