<%= form_with(model: tweet) do |form| %>
  <div class="field">
    <div class="control">
      <%= form.label(:tweet, 'Write a tweet here: ', class: "label") %>
      <%= form.text_area(:tweet, class: "textarea") %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit('Post it!', class: "button is-info") %>
  </div>
<% end %>
