<div class="column is-one-quarter">
  <nav class="panel">
    <p class="panel-heading">Last Trends</p>
    <a class="panel-block">Etc 1</a>
    <a class="panel-block">Etc 2</a>    
    <a class="panel-block">Etc 3</a>
    <a class="panel-block">Etc 4</a>
    <a class="panel-block">Etc 5</a>
    <a class="panel-block">Etc 6</a>    
  </nav>
</div>