<div class="column is-one-quarter">
	<nav class="panel">
		<p class="panel-heading">Last Trends</p>
		<a class="panel-block">Stuff 1</a>
		<a class="panel-block">Stuff 2</a>
		<a class="panel-block">Stuff 3</a>
		<a class="panel-block">Stuff 4</a>
		<a class="panel-block">Stuff 5</a>
		<a class="panel-block">Stuff 6</a>
	</nav>
</div>
